@font-face {
    font-family: font ;
    src: url(font/8bit16.ttf);
}
#timer{
    background-color: #ffb1b1;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: font;
    font-size: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}
*{
    box-sizing: border-box;
}

canvas {
    background-color: white; /* Optional: for better visibility */
}